<!-- This is the layout of the website, it is the same for all pages except for the main content which is different for each page. -->
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/static/css/pico.min.css" />

    <!-- https://favicon.io/emoji-favicons/money-bag/ -->
    <link href="/static/favicon.ico" rel="icon" />
    <link href="/static/styles.css" rel="stylesheet" />

    <title>NTF Pharmacy: {% block title %}{% endblock %}</title>
  </head>

  <body>
    <nav class="">
      <div class="container">
        <a href="/">NTF Pharmacy</a>
        <div id="navbar">
          {% if session["user_id"] %}
          <ul>
            <li><a href="/add_product">Dashboard</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/cart">Cart</a></li>
            <li><a href="/order_history">Order History</a></li>
          </ul>
          <p>
            {{ username(session.get("user_id")) }} (<a href="/edit_profile"
              >Edit Profile</a
            >)
          </p>
          <ul>
            <li><a href="/logout">Log Out</a></li>
          </ul>

          {% else %}
          <ul>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Log In</a></li>
          </ul>
          {% endif %}
        </div>
      </div>
    </nav>

    <main class="container">{% block main %}{% endblock %}</main>

    <footer class="container">
      <p>NTF Pharmacy - 2023</p>
      <small>Bahrain, Ras Romman</small>
    </footer>
  </body>
</html>
