{% extends "layout.html" %} {% block title %} Account Registration {% endblock
%} {% block main %}
<form action="/register" method="post">
  <input
    name="username"
    type="text"
    autofocus
    autocomplte="off"
    placeholder="username" />
  <input name="password" type="password" placeholder="password" />
  <input name="confirmation" type="password" placeholder="confirmation" />

  <p>Are you a staff or customer?</p>
  <input type="radio" name="user_type" value="staff" /> Staff
  <input type="radio" name="user_type" value="customer" /> Customer

  <br />
  <button type="submit">Register</button>
</form>

{% endblock %}
